* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: linear-gradient(#e66465, #9198e5);
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: inline-block;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.box {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 200px;
    
}

.box-img-1 {
    border-radius: 76% 24% 100% 0% / 51% 37% 63% 49% ;
}

.box-img-2 {
    border-radius: 30% 70% 70% 30% / 30% 74% 26% 70% ;
}

.box-img-3 {
    border-radius: 44% 56% 40% 60% / 0% 100% 0% 100% ;
}

.box-img-4 {
    border-radius:44% 56% 98% 2% / 95% 21% 79% 5%  ;
}